nav > img {
  width: 3rem !important;
  height: 3rem !important;
}
nav {
  height: 10vh;
}
.avatar-bg > img {
  height: 4rem;
}
#logo {
  height: 4rem;
  width: 4rem;
}
#exceptNav {
  height: 90vh;
}
#viratImg {
  height: 100%;
}
#addBtn {
  height: 3rem !important;
}
#products {
  height: 90vh !important;
  overflow-y: scroll !important;
}
#products::-webkit-scrollbar {
  display: none;
}
.productImage > img {
  width: 8rem !important;
  height: 8rem !important;
}
