.homeBg {
  height: 100vh;
}

.bodyBg {
  height: 80vh !important;
}

nav {
  background-color: #08254f;
  height: 10vh !important;
}

#addtable::-webkit-scrollbar {
  display: none;
}
#addtable {
  height: 80vh;
  overflow: scroll;
}
#logo {
  height: 4rem;
  width: 4rem;
}
.avatar-bg img {
  width: 4rem;
  height: 4rem;
}
#onlyMenubar {
  background-color: #08254f;
  height: 90vh;
}
ul li {
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}
ul li:hover {
  background-color: cornflowerblue;
}
table th,
td {
  width: 10rem;
}
.aboutCrm i {
  font-size: 20px !important;
}
.aboutCrm img {
  width: 85rem;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#searchinput {
  width: 100% !important;
  outline: none;
}
.searchBox {
  width: 40% !important;
  margin-bottom: 5px !important;
}
.modal-lg {
  --bs-modal-width: 50%;
}
@media print {
  body {
    visibility: hidden;
  }
  .modal-lg {
    visibility: visible !important;
    /* Add your custom print styles here */
  }
  .modal-footer {
    display: none !important;
  }
  #closeBtn {
    visibility: hidden !important;
  }
}
