<div class="container-fluid">
  <div class="d-flex justify-content-center align-items-center col-12">
    <div
      class="border col-4 my-5 rounded-3 p-3 gap-3 d-flex flex-column align-items-center"
    >
      <h5 class="fw-semibold">Google</h5>
      <h6>Sign in</h6>
      <p class="m-0">to continue to Gmail</p>
      <div class="d-flex justify-content-around w-100 flex-column">
        <label for="email">Email</label>
        <input type="email" ng-model="email" class="form-control w-100 p-2" />
      </div>
      <div class="d-flex justify-content-around w-100 flex-column">
        <label for="password">Password</label>
        <input
          type="password"
          ng-model="password"
          class="form-control w-100 p-2"
        />
      </div>

      <div class="d-flex justify-content-between w-100">
        <div class="btn text-primary" ui-sref="register">create account</div>
        <div class="btn btn-primary opacity-75" ng-click="login()">Next</div>
      </div>
    </div>
  </div>
</div>
