<div class="navBar">
  <div class="justify-content-between">
    <div class="d-flex align-items-center">
      <div class="navLogo d-flex justify-content-center align-items-center">
        <p class="text-white m-0">$Tracker</p>
      </div>

      <div class="w-100 d-flex justify-content-end">
        <small class="text-white ms-4">{{userName}}</small>
        <small class="text-white px-3 cursor" ng-click="logout()">
          <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
        </small>
      </div>
    </div>
  </div>
</div>
