<div class="sideBar mx-0">
  <ul class="sideBarList">
    <div class="text-center py-4" ui-sref="home" ui-sref-active="sideBarActive">
      <i class="fa-solid fa-house"></i>
      <li>Home</li>
    </div>
    <div
      class="text-center py-4"
      ui-sref="employees"
      ui-sref-active="sideBarActive"
    >
      <i class="fa-solid fa-users"></i>
      <li>Employees</li>
    </div>
    <div
      class="text-center py-4"
      ui-sref="salaries"
      ui-sref-active="sideBarActive"
    >
      <i class="fa-solid fa-money-bill-transfer"></i>
      <li>Salaries</li>
    </div>
    <div
      class="text-center py-4"
      ui-sref="holidays"
      ui-sref-active="sideBarActive"
    >
      <i class="fa-solid fa-calendar"></i>
      <li>Holidays</li>
    </div>
  </ul>
</div>
