.loginBgContainer {
  height: 100vh;
  background-image: url("https://assets-global.website-files.com/5927644d3f24a8324ee3c61b/592e524b84474a1dbc4943fc_movies.jpg");
  background-size: cover;
}

.loginHead {
  -webkit-text-stroke-color: red;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-family: cursive;
}
