*{
  margin: 0px;
}

body::-webkit-scrollbar{
  display: none;
}
.croma-bg-container{
  background-color: #1c1b1b;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-container{
  background-color: black;
  justify-content: space-around;
  display: flex;
  height: 10vh;
  width: 100%;
  color: white;
  position: fixed;
}

.header-left-card{
  display: flex;
  align-items: center;
}

.ham-menu-card{
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.head-menu{
  padding-left: 5px;
  font-size: 12px;
}

.head-search-card{
  margin-left: 50px;
  background-color: white;
  height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  color: black;
  padding-left:15px ;
  padding-right: 15px;
}

.head-input-el{
  outline: none;
  border: none;
  width: 400px;
}

.head-right-card{
  display: flex;
  align-items: center;
  color: white;  
}

.head-location-card{
  display: flex;
  color: white;
  align-items: center;
  
}

.head-location{
  margin-left: 5px;
  margin-right: 3px;
  font-size: 12px;
}

.edit-icon{
  font-size: 8px;
}

.profile-cart-icon{
  margin-left: 30px;
}

.body-container{
  padding-left: 145px;
  padding-right: 145px;
  float: left;
  margin-top: 10vh;
}

.path-card{
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
}

.path-span{
  padding-left: 5px;
  padding-right: 5px;
}

.croma-middle-container{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.middle-left-container{
  display: flex;
  width: 50%;
}


.middle-first-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.item-img{
  height: 75px;
  border: 1px solid #cccccc50;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.item-img:hover{
  border: 3px solid #12daa8;
}

.middle-second-container{
  display: flex;
  flex-direction: column;
}

.active-img{
  height: 400px;
  padding-left: 80px;
  margin-top: 30px;
}

.like-share-icon-card{
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  margin-top: 15px;
}

.like-share-icon{
  color: white;
  padding-left: 15px;
}

.compare-store-card{
  border-top:1px solid #cccccc50;
  border-bottom: 1px solid #cccccc50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-left: 30px;
  height: 50px;
}

.compare-card{
  display: flex;
  align-items: center;
}

.checkbox{
  border: 1px solid #979797;
  cursor: pointer;
  margin-right: 15px;
  height: 30px;
  width: 20px;
}

.checkbox:checked{
  accent-color:#12daa8;
}

.compare-style{
  font-weight: 600;
}

.store-card{
  display: flex;
  align-items: center;
  font-size: 20px;
}

.store-style{
  text-decoration: underline;
  font-weight: 600;
  padding-left: 5px;
  font-size: 15px;
}

.store-style:hover{
  text-decoration: none;
}

.middle-right-container{
  width: 50%;
  height: 500px;
  overflow-y: scroll;
}

.middle-right-container::-webkit-scrollbar{
  display: none;
}

.item-head{
  margin-top: 0px;
  padding-top: 0px;
  color: white;
}

.extra-off-style{
  border: 1px solid #ff02b9;
  display: inline-block;
  color: #ff02b9;
  padding: 5px;
  margin-top: 15px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
}

.review-p{
  display: block;
  color: #12daa8;
  font-size: 15px;
  text-decoration: underline;
  margin-top: 10px;
}

.or-card{
  display: flex;
  align-items: center;
  
}

.or-p{
  border: 1px solid #999;
  font-size: 12px;
  padding: 3px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
}

.hr-or{
  height: 1px;
  width: 10px;
  border: none;
  border-top: 1px solid #999;
}

.cost-emi-card{
  display: flex;
  align-items: center;
  color: white;
  gap: 30px;
  margin-top: 5px;
}

.cost-incl{
  font-size: 12px;
}

.emi-opt{
  font-size: 12px;
  color: #12daa8;
  text-decoration: underline;
}

.savings-card{
  margin-top: 10px;
  border-top: 1px solid #979797;
  border-bottom: 2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.span-mrp-strike{
  color: #979797;
  text-decoration: line-through;
  font-size: 14px;
}

.span-save-upto{
  color: white;
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
}

.super-save{
  color: white;
  font-weight: 600;
  margin-top: 10px;
}

.discount-container{
  display: flex;
  color: white;
  gap: 30px;
  margin-top: 20px;
}

.discount-card{
  border: 1px solid #cccccc50;
  border-radius: 10px;
}

.discount-topcard{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cccccc50;
  padding-left: 10px;
}

.discount-img{
  height: 30px;
}

.discount-bank{
  font-size: 13px;
  font-weight: 600;
  margin-left: 5px;
}

.discount-bottomcard{
  padding: 15px;
}

.discount-p{
  font-size: 11px;
  font-weight: 600;
}

.discount-view{
  font-size: 11px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 5px;
}

.location-container{
  color: white;
  margin-top: 15px;
  background-color: #353535;
  border-radius: 10px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.location-card{
  display: flex;
  align-items: center;
}

.location-right{
  padding-left: 5px;
  font-size: 14px;
  font-weight: 500;
}

.location-bottom{
  padding-left: 15px;
  font-size: 11px;
  font-weight: 500;
}

.location-span{
  color: #12daa8;
  text-decoration: underline;
}

.combo-item-card{
  display: flex;
  align-items: center;
  gap: 60px;
}

.combo-img{
  height: 50px;
}

.combo-left-card{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  font-weight: 600;
}

.tick-img{
  height: 18px;
}

.combo-container{
  color: white;
}

.combo-container{
  border: 1px solid #cccccc50;
  border-radius: 10px;
  margin-top: 15px;
  padding: 15px;
}

.combo-hr{
  border: none;
  border-bottom: 1px solid #cccccc50;
  margin-top: 5px;
}

.combo-checkbox{
  height: 40px;
  width: 30px;
  margin: 0px;
}

.combo-right-card{
  font-size: 12px;
  font-weight: 600;
}

.plus{
  margin-left: 60px;
  margin-bottom: 20px;
}

.add-cart-btn{
  background-color: #12daa8;
  border: none;
  color: #121212;
  height: 41px;
  width: 230px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
}

.features-container{ 
  color: white;
  font-weight: 600;
  border: 1px solid #cccccc50;
  border-radius: 8px;
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.features-list{
  margin-left: 0px;
  padding-left: 17px;
  font-size: 13px;
  margin-top: 15px;
}

.features-list li{
  margin-top: 5px;
}

.apple-care-container{
  color: white;
  border-top: 1px solid #cccccc50;
  border-bottom: 1px solid #cccccc50;
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.apple-care-1{
  font-size: 14px;
  font-weight: 600;
}

.apple-care-2{
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
}

.care-plan-top-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.app-care-left-card{
  display: flex;
  gap: 20px;
  align-items: center;
}

.care-1{
  font-size: 14px;
  font-weight: 600;
}

.care-2{
  font-size: 12px;
  font-weight: 500;
}

.view-p{
  font-size: 10px;
  color: #12daa8;
  text-decoration: underline;
}

.care-plan-container{
  margin-top: 20px;
}

.care-plan-top-card{
  margin-bottom: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.care-plan-bottom-card{
  display: flex;
  gap: 20px;
  margin-left: 45px;
}

.care-plan-left-card{
  border: 1px solid #cccccc50;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border-radius: 6px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
}

.care-hr{
  border: none;
  border-bottom: 1px solid #cccccc50;
  margin-top: 5px;
  margin-bottom: 5px;
}

.none-card{
  display: flex;
  justify-content: center;
  align-items: center;
  border:  1px solid #12daa8;
}

.care-hr1{
  margin-top: 30px;
  margin-bottom: 20px;
}

.specifications-container{
  color: white;
  border: 1px solid #12daa8;
  padding: 30px;
  border-radius: 6px;
  margin-top: 30px;
}

.spec-top-card{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.spec-detail-card{
  display: flex;
  align-items: center;
}

.spec-list{
  width: 30%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.spec-item-2{
  font-weight: 600;
}

.spec-view-btn{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 12px;
  cursor: pointer;
  width: 120px;
  height: 35px;
  align-items: center;
  border-radius: 8px;
  font-weight: 600;
}

.spec-view-btn-card{
  text-align: center;
  margin-top: 40px; 
}

.overview-list{
  padding-left: 17px;
  margin-left: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 600;
}

.overview-list li::marker{
  color: #12daa8;
}

.review-container{
  border: 1px solid #cccccc50;
  margin-top: 30px;
  border-radius: 8px;
  color: white;
  padding: 30px;
}

.review-btn{
  width: 270px;
  height: 45px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 6px;
  margin-top: 10px;
}

.review-item-p1{
  font-size: 15px;
  font-weight: 500;
}

.review-item-p2{
  font-size: 12px;
  font-weight: 500;
}

.recomandation-container{
  display: flex;
  align-items: center;
  color: white;
  gap: 30px;
  margin-bottom: 60px;
}

.recomandation-head{
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.recomandation-img{
  height: 200px;
}

.heart-card{
  display: flex;
  justify-content: flex-end;
}

.heart-card i:hover{
  color: #12daa8;
  cursor: pointer;
}

.recomandation-card{
  background-color: #121212;
  padding: 15px;
  box-sizing: border-box;
}

.recomandation-card p{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.star-card i{
  color: #9a9a9a;
  font-size: 15px;
  cursor: pointer;
}

.star-card1 i{
  color: #12daa8;
}

.connect-link-product-container{
  padding-left: 145px;
  padding-right: 145px;
  background-color: #1d1d1d;
  display: flex;
  padding-top: 50px;
  padding-bottom: 30px;
  color: white;
  gap: 40px;
}

.connect-container{
}

.connect-p{
  font-size: 15px;
  font-weight: 800;
}

.email-card{
  height: 45px;
  background-color: white;
  color: #979797;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

.input-email-el{
  border: none;
  outline: none;
}

.social-icons-card{
  margin-top: 10px;
  display: flex;
  gap: 20px;
  font-size: 24px;
  margin-bottom: 50px;
}

.social-icons-card i{
  cursor: pointer;
}

.fa-yt:hover{
  color: #c4302b;
}

.fa-fb:hover{
  color: #3b5998;
}

.fa-insta:hover{
  background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.fa-linkedin:hover{
  color: #0077b5;
}

.fa-tweet:hover{
  color: #00acee;
}

.link-card{
  display: flex;
  gap: 40px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.links-list p{
  margin-bottom: 20px;
}

.links-list p:hover{
  color: #12daa8;
}

.footer-container{
  height: 80px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #1c1b1b;
}

.footer-left{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 15px;
  font-weight: 600;
}

.footer-logo{
  height: 30px;
}

.footer-right{
  display: flex;
  gap: 10px;
  
}

.bynow-btn{
  border: none;
  background-color: #12daa8;
  font-size: 14px;
  color: #353535;
  font-weight: 600;
  height: 35px;
  width: 130px;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn{
  background-color: #353535;
  border: 1px solid white;
  color: white;
  height: 35px;
  width: 150px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

