* {
  box-sizing: border-box;
}

.bgcolor {
  background-color: white;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, white 0.5px);
  background-size: 10px 10px;
}

h1,
h6,
h4 {
  font-family: "Poppins", sans-serif;
}
h6,
.contact {
  color: rgb(10, 133, 191);
}
#edu {
  margin-top: 30px;
}

#dept {
  margin-bottom: 30px;
}
#img {
  float: right;
  width: 9%;
  padding-right: 3%;
  border-radius: 50%;
}
ul {
  padding-left: 2%;
}
a {
  color: black;
}

#grad {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0.4)
  );
}
h1,
h6 {
  text-shadow: 1px 1px;
}
li{
    border: 1px solid white;
    margin-right: 1200px;  
    border-radius: 30%;
    text-align: center;
    background-color: black;
    color: aliceblue;
    opacity: 50%;
    
    
}
