
body{
  background-color: rgb(29, 26, 26);
}


.div2,.div3,.div4,.div5,.div6{
  margin-top: 25px;
}


/*------------------------------------------------------------------*/
nav{
  display: flex;
  height: 110px;
  width: 100%;
  background-color: rgb(12, 12, 15);
  justify-content: space-between;
}


.nav1
{
  height: 80px;
  width: 55%;
 
 display: flex;
  justify-content:space-evenly;
  text-align: center;
  margin-top:10px;
  margin-left:100px

}


.nav1 img{
  height: 80px;
  width: 170px;
  margin-top: -3px;

 
}



#menu
{
  display: flex;
  height: 60px;
  width: 100px;
  border: 1px solid white;
  border: none;
  margin-top: 18px;
  margin-left: 15px;
}


.menu-icon {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
cursor: pointer;
}

.menu-icon span {
display: block;
width: 98%;
height: 4px;
background-color: white;
margin-top: 5px;
}


.menu{
padding: 15px 5px;
width: 40px;
height: 40px; 
font-weight: bold;  
color: white;
}




.search
{
  
  height: 70px;
  width: 600px;
  margin-left: -50px;
}

input[type="search"]
{
height: 55px;
width: 500px;
border-radius: 10px;
margin-top: 12px;
}

input[type="search"]::placeholder
{
font-size: large;
padding-left: 30px;
}

.icon 
{
position:relative;
color: rgb(4, 214, 4);
margin-top: 15px;
transform: scale(2); 
margin-left: -50px;
}


/*------------------------------------------------------------------*/

.nav2
{
  margin-top: 40px;
  height: 30px;
  width: 30%;
  color: white;
  display: flex;
justify-content:space-evenly;
margin-right: 100px;
}


.end1
{
  display: flex;
}

.nav2 #one{
  height: 30px;
  width: 180px;
  letter-spacing: 1px;
}


.nav2 .fa-map-marker
{
  transform: scale(2); 
}

.fa-user
{
  transform: scale(2.5);
  margin-left: -45px;
}

.fa-shopping-cart
{
  transform: scale(2.5);
  margin-left: -45px;
}




/*---------------------------------------------------------------------------------*/




.div1
{
height: 700px;
  width: 1400px;
  
  border-radius: 10px;
  margin-left: 7%;
  color: white;
  padding: 10px 30px;
  display: flex;
}

.div1-1 h4{
  display: inline-block;
  
}

.fa-angle-right
{
padding: 0px 20px;
transform: scale(1.8);
}


.div1-1-1
{
  display: flex;
}

.div1-1-1 #one
{
height: 600px;
width: 200px;

}

.div1-1-1 #one img{
border: 1px solid rgb(145, 141, 141);
border-radius: 10px;
height: 110px;
width: 110px;
margin-top: 15px;
margin-left: 35px;
}


.fa-angle-up , .fa-angle-down
{
  transform: scale(4.5);
  position: relative;
  margin-left: 85px;

}


.fa-angle-up
{
  margin-top: 5px;
margin-bottom: 20px;
}


.fa-angle-down
{
margin-top: 20px;
}



.div1-1-1 #two
{
height: 600px;
width: 450px;

}


.fa-heart-o
{
 position: relative;
  margin-left: 82%;
  margin-top: 30px;
  transform: scale(1.7);
}

.fa-share-alt
{
  padding-left: 22px;
transform: scale(1.7);
}


.div1-1-1 #two img{
  height: 450px;
  width: 400px;
  margin-left: 20px;
  padding-bottom: 30px;
}


.connect
{
  transform: scale(1.6);
  
}



.div1-1-1 #two hr{
  margin-bottom: 0;
}

.div1-1-1 #two h3{
  padding-left: 10px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 30px;
}








.div1-1 , .div1-2
{
  height: 650px;
  width: 50%;
}


.div1-2
{
  overflow-y: scroll;
  padding: 5px;
}

.div1-2::-webkit-scrollbar{
  width: 0;
}


.div1-2 #btn1
{
  padding: 11px;
  color: rgb(243, 5, 195);
  border: 1px solid rgb(243, 5, 195);
  border-radius: 5px;
  background-color: black;
}

.div1-2 .a{
  display: block;
  color: rgb(26, 245, 26);
 font-size: large;
 padding-top: 10px;
}

.div1-2 .price {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 430px;
  position: relative;
  margin-top: 15px;
  margin-left:10px
}


.div1-2 .price h1,p{
  margin-top: 7px;
}

.div1-2 .price h2{
  font-size:xx-large;
  margin-top: 13px;
}

.div1-2 .a1{
  color: rgb(8, 211, 8);   
}

.div1-2 .hr{
  margin-top: 3px;
border-color: #5f615f;
margin-bottom: 0;
}


.div1-2 #strike 
{
  padding-right: 20px;
  color: #7d837d;
  text-decoration: line-through;
}

.div1-2 .hr1
{
  height: 2px;
  background-color: white;
  
}


.fa-tags
{
  position: relative;
  transform: scale(1.5);
  
  color: white;
  padding: 3px;
  background-color: rgb(231, 75, 101);
  border-radius: 10px;
}


.jp
{
  height: 200px;
  width: 97%;
  display: flex;
  justify-content:space-between;
}

.jp #jp{
  margin-left: 20px;
  height: 200px;
  width: 240px;
  border: 1px solid #7d837d;
  border-radius: 10px;
  padding: 10px;
}


.jp h4{
  text-align: center;
  padding-bottom: 7px;
}



.jp p{
margin-top: 0;
margin-bottom: 0;
}


.jp a{
color: white;
margin-top: 20px;
}





.div1-2 .deliver
{
  width: 95%;
  height: 40px;
  background-color: rgb(66, 64, 64);
  color: white;
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 40px;
}

.deliver .fa-map-marker
{
  position: relative;
transform: scale(1.4);
margin-top: 10px;
margin-left: 15px;
}

.deliver div{
  height: 30px;
  width: 250px;
  padding-left: 20px;
}

.deliver div h4
{
  margin-top: 2px;
  margin-bottom: 0;
}




.div1-2 .features
{
  height: 260px;
  width: 90%;
  color: white;
  border: 2px solid rgb(77, 74, 74);
  padding: 20px;
  margin-left: 2px;
  border-radius: 10px;
  margin-top: 20px;
}

.features ul{
  padding-left: 20px;
}


.premium
{
  display: flex;
  justify-content: space-between;
}

.premium a{
  position: relative;
  
}


.premium1{
  display: flex;
  height: 90px;
  width: 95%;

}

.premium1 .pre{
  height:100px;
   width: 130px;
   border: 1px solid  rgb(77, 74, 74);
   border-radius: 5px ;
   margin-left: 25px;
   text-align: center;
}

.premium1 .pre h4{
margin-bottom: 8px;
margin-top: 8px;
}




.combo
{
  position: relative;
  margin-top: 50px;
  height: 400px;
  width: 95%;
 border: 1px solid  rgb(77, 74, 74);
padding: 10px;
}

.combo1
{
  display: flex;
  margin-top: 20px;
  margin-left: 40px;
  
  padding: 0;
}


.combo1 h4{
  margin-top: 0;
  margin-bottom: 0;
}

.combo1 .fa-square-o{
  position: absolute;
transform: scale(1.5);
margin-left: -30px;
margin-top: 40px;
}

.combo1 img{
  height: 50px;
  width: 50px;
  margin-top: 25px;
}

.combo1 #price
{
  margin-top: 30px;
}

.combo button{
  height: 40px;
  width: 250px;
  font-size: large;
  background-color: #3c413c;
  color: rgb(167, 161, 161);
  border-radius: 10px;
  border: none;
  text-align: center;
  margin-top: 30px;
  margin-left: 20px;
}















/*--------------------------------------------------------------------------*/


.div2
{
  height: 580px;
  width: 1280px;
  border: 2px solid #2d6b2d;
  border-radius: 10px;
  margin-left: 7%;
  padding: 40px 60px;
  color: white;
}

.div2 h2{
  margin-top: 0;
}

.div2 h3{
  margin-top: 2px;
  margin-bottom: 6px;
}

hr{
  margin-top:-20px;
  margin-bottom: 20px;
  border-color: rgb(104, 101, 101);
}

.div2-1
{
  height: 200px;
}

.in{
   height: 120px;
   width: 1300px;
  display: flex;
  justify-content: space-between;
}

.in div{
  height: 120px;
  width: 450px;
}

.div2  #btn
{
  height: 50px;
  width: 200px;
  color: white;
  border-radius: 10px;
  background-color: black;
  border: 2px solid white;
  font-size: large;
  position: relative;
  margin-left: 45%;
}











/*----------------------------------------------------------------------------------------*/




.div3
{
  height: 820px;
  width: 1280px;
  border: 2px solid #2d6b2d;
  border-radius: 10px;
  margin-left: 7%;
  padding: 40px 60px;
  color: white;
}

.div3 li h3{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bolder;
}



.div3 ul li{
  margin-left: -25px;
}

li::marker {
color: rgb(5, 100, 28); /* bullet color */
}

.div3 h4{
  font-family:Arial, Helvetica, sans-serif;
  font-size: large;
  font-style: initial;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 2px;
}


.div3 #btn
{
  height: 50px;
  width: 200px;
  color: white;
  border-radius: 10px;
  background-color: black;
  border: 2px solid white;
  font-size: large;
  position: relative;
  margin-left: 45%;
}


/*-------------------------------------------------------------------------------------------------*/



.div4
{
  height: 250px;
  width: 1280px;
  border: 2px solid #3c413c;
  border-radius: 10px;
  margin-left: 7%;
  padding: 40px 60px;
  color: white;
}



.div4 h2{
  margin-top: 0;
}

.div4 #btn
{
  height: 50px;
  width: 350px;
  color: white;
  border-radius: 10px;
  background-color: black;
  border: 2px solid white;
  font-size: large;
  position: relative;
  margin-top: 7px;
}


/*----------------------------------------------------------------------------------------*/



#div5
{
  height: 550px;
  width: 1450px;
  color: white;
  margin-left: 5%;

}

.div5
{
  height: 500px;
  width: 1450px;
  color: white;

 padding: 20px 0px;
  display: flex;
  justify-content:space-around;
  
}

#div5 h1{
 
  padding-left: 40px;
  margin-bottom: 10px;
}




.div5 .div5-1
{
  height: 450px;
  width: 500px;

  background-color: black;
  margin-left: 35px;
  border-radius:5px
}



.div5-1 .fa-heart-o
{
  position: relative;
  margin-left: 82%;
  margin-top: 30px;
  transform: scale(1.5);
}


.div5 img{
  position: relative;
  margin-left: 40px;
  margin-top: -40px;
  height: 280px;
  width: 240px;

  margin-bottom: 0;
}

.price
{
  
  margin-top: 0;
  padding-left: 25px;
}

.price h2{
  margin-top: 1px;
  margin-bottom: 1px;
}

.price h1{
  position: relative;
  margin-top: 15px;
  margin-left: -35px;
  padding-left: 0;
  text-align: left;
  margin-bottom: 0;
  
}




.fa-star{
   margin-top: 15px;
color: rgb(125, 126, 125);
display: inline-block;
padding-left: 8px;
transform: scale(1.4);
}









/*----------------------------------------------------------------------------------------*/




#div6
{
   height: 480px;
  width: 100%;
  background-color: #202020;
  
}

.div6
{
  height: 450px;
  width: 1400px;
  color: white;
  margin-left: 7%;

 padding: 20px 5px;
  display: flex;
  justify-content:space-around;
}



.div6-1
{
 height: 450px;
width: 520px;
 padding-right: 40px;

}


input[type="email"]
{
  height: 60px;
  width: 320px;
  color: rgb(110, 103, 103);
  border-radius: 10px;
}


input[type="email"]::placeholder
{
font-size: large;
padding-left: 30px;
}

.fa-arrow-right
{
  position: absolute;
  margin-left: -45px;
  margin-top: 25px;
  color: rgb(81, 90, 81);
transform: scale(1.5); 
  
}


.lo
{
  display: flex;
  justify-content:space-around;
  margin-top: 35px;
}

.lo i{
  transform: scale(2);
}

.div6-1 h3{
  margin-top: 60px;
}












.div6-2 ,.div6-3
{
height: 450px;
width: 500px;
display:flex;
justify-content:space-between;
padding:10px 20px;

}



.div6-2 #one , .div6-3 #one
{
height: 450px;
width: 200px;
padding-left: 50px;
}


.div6-2 #two , .div6-3 #two
{
height: 450px;
width: 200px;
padding-left: 20px;
}

















/*----------------------------------------------------------------------------------------*/

footer{
height: 100px;
  width: 100%;
  background-color: rgb(12, 12, 15);
}

.end
{
  height: 40px;
display: flex;
justify-content: space-around;
color: white;
padding: 30px;
}

.end1 h4{
  margin-top: 0;
  margin-bottom: 0;
  font-size: large;
  margin-left: 15px;
}

.end1 img{
  height: 35px;
  width: 50px;
}


.end #btn1
{
  height: 50px;
  width: 200px;
  color: rgb(10, 1, 1);
  border-radius: 10px;
  background-color: rgb(93, 194, 110);
  border:none;
  font-size: large;
  font-weight: bold;
  margin-left: 10px;
}


.end #btn2{

margin-left: 10px;
height: 50px;
  width: 200px;
  color: white;
  border-radius: 10px;
  background-color: rgb(70, 66, 66);
  border: 2px solid white;
  font-size: large;
}


.vertical-line {
border-left: 1px solid rgb(112, 106, 106); /* Adjust the color and thickness of the line */
height: 400px; /* Adjust the height of the line */
}





