.logo{
    color:blue;
}

#header{
    height:10vh;
}

.notification{
    background-color: rgb(128,128,128, 0.2);
}

.profile{
    background-color: blue;
}

.navbar{
    height: 85vh;
    margin-top: 6vh;
}


.statusActiveBtn{
    background-color:rgb(50,205,50,0.5);
    color:green;
    border: 0px;
    border-radius: 50px;
}


.statusOofSBtn{
    background-color:rgb(255,99,71,0.5);
    color: #FF4500;
    border: 0px;
    border-radius: 50px;
}

.filterCard{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCDCDC;
    border: 0px;
    border-radius: 5px;
    height: 40px;
}

.notification{
    height: 100%;
    width: 30px;
}

.personal{
    height: 100%;
    width: 30px;
}

.statusBox{
    background-color: #DCDCDC;
}

.filterBtn{
    height: 40px;
}


.tableContainer{
    overflow-x: auto;
}