<div class="d-flex justify-content-center align-items-center registerMainCont">
    <div class="registerContainer shadow-lg d-flex justify-content-between align-items-center p-5" ng-show="hideCont">
        <div class="column2 d-none d-md-block col-md-5">
            <img src="https://disism.com/assets/blog/half_memories/cover.png" class='loginImage img-fluid'>
        </div>
        <div class="column1 ps-3 col-md-6">
            <div id="form" class="form">
                <h2 class="fs-3 fw-semibold">Login to Your Account</h2>
                <div class="d-flex flex-column formEl mt-3">
                    <input type="text" ng-model="email" placeholder="Email" ng-class="{'is-invalid': emailErrMsg}"
                        ng-change="validateEmail()">
                    <p class="m-0 text-danger errMsg">{{emailErrMsg}}</p>
                </div>
                <div class="d-flex flex-column mt-3">
                    <div class="d-flex justify-content-between align-items-center formEl2">
                        <input type="{{value ? 'text':'password'}}" ng-model="password" placeholder="Password"
                            ng-change="validatePassword()" ng-class="{'is-invalid': passwordErrMsg}" class="passwordEl">
                        <button class="viewPasswordBtn" ng-click="viewPassword()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-eye" viewBox="0 0 16 16">
                                <path
                                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                <path
                                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                            </svg>
                        </button>
                    </div>
                    <p class="m-0 text-danger errMsg">{{passwordErrMsg}}</p>
                </div>
                <button class="registerBtn w-100 pe-2 ps-2 pt-1 pb-1" ng-click="login()">Login</button>
                <div class="d-flex justify-content-center col-12 mt-1">
                    <p class="m-0 routePara fw-bold" style="cursor: pointer;">Already have an account? <span
                            class='m-0 fw-bold text-primary text-decoration-underline'
                            ui-sref="register">Register</span></p>
                </div>
            </div>
        </div>
    </div>
</div>