<nav class="navbar bg-body-tertiary navEl2 shadow-lg p-0 m-0">
    <div class="container-fluid m-0 p-0 d-flex align-items-center pe-3 justify-content-between">
        <div class="d-flex justify-content-between  align-items-center ps-3">
            <div class="d-flex align-items-center">
                <img src="https://img.freepik.com/free-vector/hand-drawn-business-planning-with-task-list_23-2149164275.jpg"
                    class="newsLogo3 me-2" />
                <h1 class="m-0 adminHead fs-5 text-light d-none d-md-block">TMS</h1>
            </div>
        </div>
        <ul class="unordered2 d-flex align-items-center gap-3 p-0 m-0 text-light font-monospace fw-semibold">
            <button class="btn btn-outline-light" ui-sref="home">
                Home
            </button>
            <button class="btn btn-outline-light" ui-sref="tasks">
                Tasks
            </button>
        </ul>
        <div class="logoutCont d-none d-md-block">
            <button class="btn btn-danger" ng-click="logout()">Logout</button>
        </div>
    </div>
</nav>