body {
    font-family: "Roboto", sans-serif;
    background-color: #f8fafb; }
  
p {
    color: #b3b3b3;
    font-weight: 300; }
  
h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif; }

.content .bg {
    background-size: cover;
    background-position: center;
 }

.container{
    height: 100%;
}