body
{
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.Y_YEjgM_cKOxG1QJB-b3QQHaFj&pid=Api&P=0&h=180'); 
    background-repeat: no-repeat;
    background-size: cover;
}


.outline-1
{
    height: 700px;
    max-width: 800px;
   border: 1px solid black;
}




