*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.container_2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}